*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

background:#f4f6f8;

height:100vh;

}


.container{

display:flex;

height:100vh;

}


.left{

width:40%;

background:white;

padding:30px;

border-right:1px solid #ccc;

}


.right{

width:60%;

padding:30px;

}


h1{

margin-bottom:20px;

}


label{

display:block;

margin-top:15px;

font-weight:bold;

}


select,
input{

width:100%;

padding:12px;

margin-top:5px;

border-radius:6px;

border:1px solid #ccc;

}


button{

margin-top:25px;

width:100%;

padding:15px;

background:#0066ff;

color:white;

border:none;

border-radius:6px;

font-size:16px;

cursor:pointer;

}


button:hover{

background:#0044aa;

}


.resultado{

background:white;

height:100%;

padding:25px;

border-radius:6px;

border:1px solid #ccc;

white-space:pre-wrap;

line-height:1.6;

}
